function Image.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
return
function Image._turn_x 1
push argument 0
pop pointer 0
push argument 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
pop local 0
label IF_FALSE0
push argument 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push argument 2
sub
push constant 1
sub
pop local 0
label IF_FALSE1
push argument 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push argument 1
sub
push constant 1
sub
pop local 0
label IF_FALSE2
push argument 3
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 2
pop local 0
label IF_FALSE3
push local 0
return
function Image._turn_y 1
push argument 0
pop pointer 0
push argument 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
pop local 0
label IF_FALSE0
push argument 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
pop local 0
label IF_FALSE1
push argument 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push argument 2
sub
push constant 1
sub
pop local 0
label IF_FALSE2
push argument 3
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
push argument 1
sub
push constant 1
sub
pop local 0
label IF_FALSE3
push local 0
return
function Image.draw 7
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 3
push constant 1
pop local 2
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 0
lt
not
if-goto WHILE_END1
push local 2
push local 3
push this 2
add
pop pointer 1
push that 0
and
push constant 0
eq
not
call Screen.setColor 1
pop temp 0
push pointer 0
push local 1
push local 0
push argument 3
call Image._turn_x 4
pop local 5
push pointer 0
push local 1
push local 0
push argument 3
call Image._turn_y 4
pop local 6
push argument 1
push local 5
add
push constant 512
lt
push argument 2
push local 6
add
push constant 256
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push local 5
add
push argument 2
push local 6
add
call Screen.drawPixel 2
pop temp 0
label IF_FALSE0
push local 2
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop local 2
push local 3
push constant 1
add
pop local 3
goto IF_END1
label IF_FALSE1
push local 2
push local 2
add
pop local 2
label IF_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
